<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>诗意中华</title>
    <link rel="stylesheet" href="./css/tangshi.css">
</head>
<body>
    <div class="top">
        <div class="left2">
            <img src=" ">
        </div>
        <div class="right2">
            <a href="../login/html/login.html">
                <button type="button" style="cursor: pointer;width: 70px;height:30px;background-color:rgb(240,239,227);border: none;" >登录</button>
            </a>
            <a href="../register/html/register.html">
                <button type="button" style="cursor: pointer;width: 70px;height:30px;background-color:rgb(240,239,227);border: none;">注册</button>
            </a>
        </div>
        <div class="search">
            <select>
                <option value="全部">全部</option>
                <option value="作者">作者</option>
                <option value="内容">内容</option>
                <option value="标题">标题</option>
              </select>
            <input type="text" placeholder="请输入..." name="" id="" value="" >
            <button><i>搜索</i></button>
        </div>
    </div>
    <div class="nav">
        <div class="items">          
            <li style="float: left;margin: 0px 7.2%;display: block;border-radius: 10px;opacity: 0.5;background-color:  white;"><a href="tangshi.html" style="color: black;">唐诗</a></li>
            <li><a href="songci.html">宋词</a></li>
            <li><a href="yuanqu.html">元曲</a></li>
            <li><a href="sishuwujing.html">四书五经</a></li>
            <li><a href="lunyu.html">论语</a></li>
            <li><a href="qita.html" >关于</a></li>
    </div>
    </div>
    <div class="main">
        <div class="container mainContent">
            <div class="contentTitle">
                    <!-- 唐诗大标题 -->
                    <div class="littleDot Floatleft">
                        <!-- 唐诗前面的小点 -->
                    </div>
                    <div class="bigTitle Floatleft">
                        唐诗
                    </div>
            </div>
            <div class="poemList">
                <div class="poem1">
                    <div class="biaoti">
                        <p>帝京篇十首 一</p>
                    </div>
                    <div class="zuozhe">
                        <p>太宗皇帝</p>
                    </div>
                    <div class="zhengwen">
                        <p>秦川雄帝宅，函谷壯皇居。綺殿千尋起，離宮百雉餘。<br>
                            連甍遙接漢，飛觀迥凌虛。雲日隱層闕，風煙出綺疎。
                        </p>
                    </div><br>
                    <div class="tumb">
                        <div class="left"><img src="../image/thumbs-up.svg" alt="" width="36px"></div>
                        <div class="left" style="margin-left:85px;"><img src="../image/download.svg" alt="" width="36px"></div>
                        <div class="left" style="margin-left:85px;"><img src="../image/reply.svg" alt="" width="36px"></div> 
                    </div>
                </div>
                <div class="poem2">
                    <div class="biaoti">
                        <p>客中作</p>
                    </div>
                    <div class="zuozhe">
                        <p>杜俨</p>
                    </div>
                    <div class="zhengwen">
                        <p>书剑催人不暂闲，洛阳羁旅复秦关。<br>
                            容颜岁岁愁边改，乡国时时梦里还。
                        </p>
                    </div><br>
                    <div class="tumb">
                        <div class="left"><img src="../image/thumbs-up.svg" alt="" width="36px"></div>
                        <div class="left" style="margin-left:85px;"><img src="../image/download.svg" alt="" width="36px"></div>
                        <div class="left" style="margin-left:85px;"><img src="../image/reply.svg" alt="" width="36px"></div> 
                    </div>
                </div>
                <div class="poem3">
                    <div class="biaoti">
                        <p>帝京篇十首 五</p>
                    </div>
                    <div class="zuozhe">
                        <p>太宗皇帝</p>
                    </div>
                    <div class="zhengwen">
                        <p>芳辰追逸趣，禁苑信多奇。橋形通漢上，峰勢接雲危。<br>
                            煙霞交隱映，花鳥自參差。何如肆轍跡？萬里賞瑤池。
                        </p>
                    </div><br>
                    <div class="tumb">
                        <div class="left"><img src="../image/thumbs-up.svg" alt="" width="36px"></div>
                        <div class="left" style="margin-left:85px;"><img src="../image/download.svg" alt="" width="36px"></div>
                        <div class="left" style="margin-left:85px;"><img src="../image/reply.svg" alt="" width="36px"></div> 
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    </div>
</body>
</html>